/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main-parent-page{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1e3042;
}

#left-aside{
    width: 13%;
    height: calc(100% - 25px);
    position: relative;
}

#nav-option-text{
    position: fixed;
    top: 10vh;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vh;
    gap: 60vh;
}
#nav-menu{
    height: calc(100% - 26px);
    list-style: none;
}
#nav-menu li{
    padding-bottom: 1.5vh;
}

#nav-menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
#nav-menu li:nth-last-child(1){
    padding-top: 44vh;
}

#nav-menu li a:hover{
    font-size: 21px;
    color: #007bff;
}
#nav-option-icon{
    display: none;
}

#right-aside{
    width: 84%;
}

h2{
    color: #007bff;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Navigation */
#navbar {
    background-color: #007bff;
    color: #fff;
    /* padding: 0px 0; */
    position: fixed;
    width: 100%;
    min-height: 25px;
    top: 0;
    z-index: 1000;
}

#nav-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

#navbar h1 {
    font-size: 2.5rem;
    margin-left: 20px;
    display: inline-block;
    /* font-family: 'Dancing Script'; */
    font-family: 'Gilroy';
}
#navbar h1 #mr{
    font-size: 1.7rem;
}

/* Hero Section */
#hero-img{
    height: 310px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid #007bff;
    padding: 4px;
    object-fit: cover;
    /* object-position: top; */
    margin-bottom: 10px;
}

#hero-img:hover{
    opacity: 0.8;
    cursor: pointer;
}

#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    gap: 20px;
}

#hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #007bff;
}

/* About Section */
#about {
    background-color: #fff;
    padding: 80px 0;
}

#about h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

#about p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

/* Projects Section */
#projects{
    background-color: #fff;
    position: relative;
}

#projects h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}
#projects h3:nth-child(1){
    font-size: 1.5rem;
}
#projects h3{
    font-size: 1.3rem;
    margin: 12px 0;
    text-decoration: underline;
}
#projects button{
    position: absolute;
    right: 0;
    bottom: 3em;
    padding: 0.8rem 2.8rem;
    border-radius: .5rem;
    background-color: #007bff;
    border: none;
}
#projects button a{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 600;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 35px;
    margin-bottom: 60px;
}

.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    height: 42vh;
    background-color: #f0f0f0;
}

#pr-img img{
    height: 28vh;
    object-fit: cover;
    object-position: center;
}


/* Skills Section */
#skills {
    padding: 80px 0;
    background-color: #f8f9fa;
}

#skills h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px
}

.skills-list div {
    width: 30%;
    margin-bottom: 30px;
}

.skills-list h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.skills-list ul {
    list-style-type: none;
}

.skills-list ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Education and Experience Sections */
#education{
    padding: 80px;
    background-color: #f8f9fa;
}

#experience{
    padding: 80px 0;
    background-color: #fff;
}

#education h2, #experience h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.education-item, .experience-item {
    background-color: #fff;
    padding: 20px
}

.container i{
    color: #007bff;
    font-size: 35px;
    padding-right: 12px;
    /* margin-bottom: 10px; */
}

.container a{
    text-decoration: none;
}

#contact, footer{
    background-color: #f0f0f0;
}

footer span{
    color: #007bff;
    font-size: 1.3rem;
    font-weight: 500;
}

@media (width < 768px) {
    #navbar h1{
        font-size: 1.4rem;
        margin-left: 0;
        width: 90%;
        text-align: center;
    }
    #nav-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5vh;
        right: 0;
        height: calc(100vh - 24px);
        background-color: #007bff;
        padding-top: 15px;
        opacity: 0.9;
        width: 40%;
        padding: 10px 0;
        text-align: center;
        z-index: 1;
    }
    #navbar ul {
        padding-top: 15px;
    }
    #navbar ul li {
        border-bottom: 2px solid #fff;
        margin: 0 8px 8px 8px; 
    }
    /* #nav-menu.show{
        display: flex;
    } */

    #nav-option-text{
        display: none;
    }
    #nav-option-icon{
        position: fixed;
        top: 10vh;
        width: 10%;
        display: flex;
        flex-direction: column;
        padding-left: 3vh;
        gap: 60vh;
        align-items: center;
    }
    #nav-option-icon{
        height: calc(100% - 26px);
        list-style: none;
    }
    #nav-option-icon li{
        padding-bottom: 1.5vh;
    }
    #navbar h1{
        font-size: 1.8rem;
    }
    #navbar h1 #mr{
        font-size: 1.3rem;
    }
    #nav-option-icon li a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
    #nav-option-icon li:nth-last-child(1){
        padding-top: 44vh;
    }
    #right-aside{
        width: 89%;
    }
    #menu{
        display: block;
    }
    #hero-img{
        height: 270px;
    }
    #hero{
        align-items: center;
        justify-content: center;
    }
    #btn-option{
        display: block;
    }
    .skills-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills-list h3 {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }
    .skills-list div {
        width: 50%;
        margin-bottom: 30px;
    }
    #projects button{
        padding: 0.5rem 1.8rem;
    }
    #projects h3:nth-child(1){
        font-size: 1rem;
    }
    #projects h3{
        font-size: 0.8rem;
        margin: 5px 0;
        text-decoration: underline;
    }
    #projects p{
        font-size: 0.6rem;
    }
    .project-gallery {
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        gap: 35px;
        margin-bottom: 60px;
    }
    #education .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .education-item{
        width: 64vw;
    }
}