/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Navigation */
#navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    min-height: 25px;
    top: 0;
    z-index: 1000;
}

#nav-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

#navbar h1 {
    font-size: 2.2rem;
    margin-left: 20px;
    display: inline-block;
}

#navbar ul {
    list-style-type: none;
    float: right;
}

#navbar ul li {
    display: inline;
    margin-right: 20px;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

#menu{
    display: none;
    cursor: pointer;
}

#navbar i{
    font-size: 1.4rem;
}

/* Hero Section */
#hero-img{
    height: 310px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid #007bff;
    padding: 4px;
    object-fit: cover;
    margin-bottom: 10px;
}

#hero-img:hover{
    opacity: 0.8;
}

#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
}

#hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
#resume{
    background-color: #007bff;
    margin: 15px auto;
    padding: 12px 32px;
    border-radius: 15px;
}

#resume:hover{
    background-color: #004cff;
}

#resume a{
    color: #fff;
}

/* About Section */
#about {
    background-color: #fff;
    padding: 80px 0;
}

#about h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

#about p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

/* Projects Section */
#projects{
    background-color: #fff;
    position: relative;
}

#projects h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}
#projects h3:nth-child(1){
    font-size: 1.5rem;
}
#projects h3{
    font-size: 1.3rem;
    margin: 12px 0;
    text-decoration: underline;
}
#projects button{
    position: absolute;
    right: 0;
    bottom: 3em;
    padding: 0.8rem 2.8rem;
    border-radius: .5rem;
    background-color: #007bff;
    border: none;
}
#projects button a{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 600;
}


.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-bottom: 60px;
}

.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    object-position: top;
}

.project-item:hover img {
    transform: scale(1.1);
}

.project-item:hover .overlay {
    opacity: 1;
}

/* Skills Section */
#skills {
    padding: 80px 0;
    background-color: #f8f9fa;
}

#skills h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px
}

.skills-list div {
    width: 30%;
    margin-bottom: 30px;
}

.skills-list h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.skills-list ul {
    list-style-type: none;
}

.skills-list ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Education and Experience Sections */
#education, #experience {
    padding: 80px 0;
    background-color: #f8f9fa;
}

#education h2, #experience h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.education-item, .experience-item {
    background-color: #fff;
    padding: 20px
}

.container i{
    color: #007bff;
    font-size: 35px;
    padding-right: 12px;
}

.container a{
    text-decoration: none;
}

footer span{
    color: #007bff;
    font-size: 1.3rem;
    font-weight: 500;
}

@media (width < 768px) {
    #navbar h1{
        font-size: 1.4rem;
        margin-left: 0;
    }
    #nav-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 6vh;
        right: 0;
        height: 94vh;
        background-color: #007bff;
        padding-top: 15px;
        opacity: 0.9;
        width: 40%;
        padding: 10px 0;
        text-align: center;
        z-index: 1;
    }
    #navbar ul {
        padding-top: 15px;
    }
    #navbar ul li {
        border-bottom: 2px solid #fff;
        margin: 0 8px 8px 8px; 
    }
    #nav-menu.show{
        display: flex;
    }
    #menu{
        display: block;
    }
    #resume{
        padding: 12px 25px;
    }
    #hero-img{
        height: 270px;
    }
    #hero{
        align-items: center;
        justify-content: center;
    }
    #btn-option{
        display: block;
    }
    .skills-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills-list h3 {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }
    .skills-list div {
        width: 50%;
        margin-bottom: 30px;
    }
    #projects button{
        padding: 0.5rem 1.8rem;
    }
    #projects h3:nth-child(1){
        font-size: 1rem;
    }
    #projects h3{
        font-size: 0.8rem;
        margin: 5px 0;
        text-decoration: underline;
    }
    #projects p{
        font-size: 0.6rem;
    }
}